{% extends "base.html" %}

{% block content %}
<h1 class="mt-3">TODO List
  <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary link-to-page float-right">
    Create
  </a>
</h1>
  <ul>
    {% for task in task_list %}
      <li>
        <p><strong>{{ task.content }}</strong></p>
        <p>Created: {{ task.created_at }} Deadline: {{ task.deadline }}</p>
        <p class="text-muted font-weight-bold">Tags: {% for tag in task.tag.all %}
        {{ tag.name }}
        {% endfor %}
        <a href="{% url 'todo_list:task-update' pk=task.id %}">Update </a>
        <a href="{% url 'todo_list:task-delete' pk=task.id %}">Delete </a>
        </p>
      </li>
      <hr>
    {% endfor %}
  </ul>
{% endblock %}

{#{% for task in tag.tasks.all %}#}